{{ with .Site.Data.serviceSection }}
{{ if .enable }}
<section class="service" id="service">
    <!-- <div class="service-background"> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ .topTitle }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row row-eq-height">
            {{ $Section := .service }}
            {{ range $Section }}
            <div class="col-sm-4">
                <div class="service-slider-item">
                    <div class="service-slider-item-icon">
                        <div class="icon">
                            <!-- <img src=" {{ .image | absURL }} " alt="{{ .alt }}"> -->
                            <lottie-player
                                src=" {{ .image | absURL }} "
                                autoplay
                                loop
                            ></lottie-player>
                        </div>
                    </div>
                    <div class="mt-5">
                        {{ .content | markdownify }}
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}